<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login/Reg</title>
</head>
<body>
    <div>
        @model Cleanup.Models.UserRegisterViewModel
        <h1>Registration</h1>
        <form asp-controller="User" asp-action="Register" method="POST">
            <table>
                <tr>
                    <td><label asp-for="FirstName"></label></td>
                    <td><input asp-for="FirstName"></td>
                    <td><span asp-validation-for="FirstName"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="LastName"></label></td>
                    <td><input asp-for="LastName"></td>
                    <td><span asp-validation-for="LastName"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="UserName"></label></td>
                    <td><input asp-for="UserName"></td>
                    <td><span asp-validation-for="UserName"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Email"></label></td>
                    <td><input asp-for="Email"></td>
                    <td><span asp-validation-for="Email"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="ProfilePic"></label></td>
                    <td><input asp-for="ProfilePic"></td>
                    <td><span asp-validation-for="ProfilePic"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Password"></label></td>
                    <td><input type="password" asp-for="Password"></td>
                    <td><span asp-validation-for="Password"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="PasswordConfirmation"></label></td>
                    <td><input type="password" asp-for="PasswordConfirmation"></td>
                    <td><span asp-validation-for="PasswordConfirmation"></span></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Register"></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
    <div>
        <h1>Login</h1>
        <form asp-controller="User" asp-action="Login" method="POST">
            <table>
                <tr>
                    <td><label asp-for="UserName"></label></td>
                    <td><input asp-for="UserName"></td>
                </tr>
                <tr>
                    <td><label asp-for="Password"></label></td>
                    <td><input type="password" asp-for="Password"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Login"></td>
                    <td>@ViewBag.Error</td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>